{% extends 'base.html' %}
{% load static %}

{% block content %}
{% load static %}
<div class="page-wrapper">
	
 	
 	
    
	
	<!--Page Title-->
    <section class="page-title" style="background-image:url(/static/images/12.jpg);">
    	<div class="auto-container">
        	<h2>Track & Trace</h2>
        </div>
    </section>
    
    <!--Breadcrumb-->
    <div class="breadcrumb-outer">
    	<div class="auto-container">
        	<ul class="bread-crumb text-center">
            	<li><a href="">Home</a> <span>/</span></li>
                <li>Track & Trace</li>
            </ul>
        </div>
    </div>
    <!--End Page Title-->
	
	<!--Sidebar Page Container-->
    	<div class="auto-container mt-5 mb-5">
        	<div class="row clearfix">
				
				<!--Content Side-->
                <div class="content-side col-lg-6 col-md-12 col-sm-12">
                	<div class="track-section">
						<!-- Sec Title Two -->
						<div class="sec-title-two sec-title">
							<h2>Track & <span>Trace Shipment</span></h2>
						</div>
						
						
						<!-- Tracking Info -->
						<div class="tracking-info-detail">
							<div id="track-status-1" class="tracking-box">
								<div class="tracking-time-box">
									<div class="tracking-time">{{ user.track.orderPlacedDate }}</div>
									<span>{{ user.track.orderPlacedtime }}</span>
								</div>
								<div class="tracking-location">
									<span class="dott"></span>
									<strong>Order placed </strong>
									through portal 
								</div>
							</div>
							
							<div id="track-status-2" class="tracking-box">
								<div class="tracking-time-box">
									<div class="tracking-time">{{ user.track.orderShipmentDate }}</div>
									<span>{{ user.track.orderShipmentTime }}</span>
								</div>
								<div class="tracking-location style-two">
									<span class="dott"></span>
									<strong>In transit </strong>
									5th Block
								</div>
							</div>
							
							
							<div id="track-status-4" class="tracking-box">
								<div class="tracking-time-box">
									<div class="tracking-time">{{ user.track.outForDeliveryDate }}</div>
									<span>{{ user.track.outForDeliveryTime }}</span>
								</div>
								<div class="tracking-location style-three">
									<span class="dott"></span>
									<strong>Out for Delivery</strong>
									ready
								</div>
							</div>
							
							<div id="track-status-5" class="tracking-box">
								<div class="tracking-time-box">
									<div class="tracking-time">{{ user.track.deliveredDate }}</div>
									<span>{{ user.track.deliveredtime }}</span>
								</div>
								<div class="tracking-location style-three">
									<span class="dott"></span>
									<strong>Delivered</strong>
									Your order is Delivered
								</div>
							</div>
							
						</div>
						
						
						
					</div>
				</div>
				
	</div>

	
<script>
	st1 = '{{ st1 }}'
	st3 = '{{ st3 }}'
	st4 = '{{ st4 }}'
	st5 = '{{ st5 }}'
	place = document.getElementById('track-status-1')
	shipped = document.getElementById('track-status-3')
	outF = document.getElementById('track-status-4')
	delivered = document.getElementById('track-status-5')
	if(st1 == 'true'){
		place.classList.add('active')
	}
	if(st3 == 'true'){
		shipped.classList.add('active')
	}
	if(st4 == 'true'){
		outF.classList.add('active')
	}
	if(st5 == 'true'){
		delivered.classList.add('active')
	}

</script>
	
	<!--Main Footer-->
   
	
</div>

{% endblock content %}

<!--End pagewrapper-->

